.popup__button-save {
	margin: 48px 0 37px;
	max-width: 358px;
	min-height: 50px;
	border-radius: 2px;
	align-items: center;
	justify-content: center;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
	background-color: black;
}

@media screen and (max-width: 550px) {
	.popup__button-save {
		margin: 45px 0 25px;
		max-width: 238px;
		min-height: 46px;
		font-size: 14px;
		line-height: 17px;
	}
}

.popup__button-save:hover {
	opacity: .8;
}