.cards__button-delete {
	position: absolute;
	top: 0;
	right: 0;
	margin: 30px 20px 0 0;
	height: 18px;
	width: 19.3px;
	background: center center url('../../../images/Trash.svg') no-repeat;
}

